.open-sans-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}
nav{
    max-width: 100vw;
}
.navsection{
    width: 80vw;
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.icon{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
}
.uldiv{
     
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 30px;
    text-decoration: none;
    padding-left: 0;
}
.list > li > a{
    text-decoration: none;
    color: inherit;
}
.home{
    color: orange;
    font-size: 1.25rem;
    font-weight: 400;
}
.about{
    color: skyblue;
    font-size: 1.25rem;
    font-weight: 400;
}
.facilities{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 400;
}
.admission{
    color: 5D58EF;
    font-size: 1.25rem;
    font-weight: 400;
}
.btn{
   background-color: orange;
   color: white;
   padding: 10px 60px;
   font-size: 1.25rem;
   font-weight: 400;
    border-radius: 15px;
    border: none;   
}

.belownav{
    display: flex;
    width: 80vw;
    margin: 60px 10vw;
    justify-content: space-between;
    align-items: center;
}
.title{
    line-height: 61px;
    font-size: 3.5rem;
    font-weight: bold;
}
.lowertitle{
    font-size: 1.25rem;
    font-weight: normal;
}
.btn2{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 47px;
    font-size: 1.25rem;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
   .scl, .list, .btn{
        display: none;
   }
   .icon{
    display: block;
   }
   nav{
    display: flex;
    justify-content: space-between;
   }
   .belownav{
    width: 90vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
   }
   .navsection{
    width: 96vw;
    margin: 0 2vw;
   }
   .title{
    font-size: 2rem;
    line-height: 0.9;
    text-align: center;
   }
   .lowertitle{
    text-align: center;
    font-size: 1rem;
   }
   .banner_btn{
    display: flex;
    justify-content: center;
   }
   .right_content{
     max-width: 100%;
     display: flex;
     justify-content: center;
     overflow: hidden;
   }
   
   }

   /* *{
    border: 1px solid black;
} */
.standard{
    display: flex;
    width: 80vw;
    margin: 60px 10vw;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    background-image: url(assets/bg.png);
    
}

.kinder, .elementary, .middle{
   width: 100%; 
   text-align: center; 
   display: flex;
   flex-direction: column;
   align-items: center;
   /* border: 1px solid black; */
   border-radius: 18px;
   padding: 52px 40px;
   
}
.kinder{
    background:linear-gradient(to bottom, #DEF5FF, transparent 50%);
    border: 1px solid #DEF5FF;
}
.elementary{
    background: linear-gradient(to bottom, #FFF4DC, transparent 50%);
    border: 1px solid #FFF4DC;
}
.middle{
    background:linear-gradient(to bottom, #F2E8FF, transparent 50%);
    border: 1px solid #F2E8FF;
}
.more{
    text-decoration: none;  
}
.divheading{
    font-size: 1.5vw;
    font-weight: bold;
}
.headings{
    width: 80vw;
    margin:0 10vw;
    text-align: center;
    font-size: 2.87vw;
}
.more{
    color: #F0AA00;
}
.arrow{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
}

.arrow > button{
    background-color: #F0AA00;
    border-radius: 30px;
    border: none;
    
}

.arrow > button > img{
    size: 15px 24px;
}

@media screen and (max-width: 576px) {
    .standard{
        display: flex;
        flex-direction: column;
        width: 94vw;
        margin: 20px auto;
        align-items: center;
        gap: 30px;
        background-image: url(assets/bg.png); 
    }
    .headings{
        width: 80vw;
        margin:20px 10vw;
        text-align: center;
        font-size: 3.87vw;
    }
    .arrow{
        display: none;
    }
}
.story{
    
    background: url(assets/bg.png) , linear-gradient(to top, rgba(254, 163, 1, 0.3), white, transparent 80%);
    
}

.story-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.story-btn{

    text-align: center;
    padding-bottom: 70px;


}
.story-btn > button {
    padding: 15px 40px;
    border-radius: 16px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}
.story-left{
    border-radius: 16px;
    background-color: white;
    border: 1px solid white;
}
.story-left> img{
    height: 60%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-left > p{
    padding-left: 20px;
    padding-top: 20px;
}
.title2{
    font-size: 1.25rem;
    font-weight: bold;
}
.body{
    font-weight: regular;
}
.story-left> button{
    padding: 15px 12px;
    border-radius: 20px;
    border: none;
    background-color: #3CD8E8;
    font-weight: regular;
    color: white;
    position: absolute;
    bottom: 200px;
    left: 20px ;
    
}
.story-left{
    position: relative;
    box-shadow: 4px 4px #F0AA00;
    width: 70%;
    
    
}
.story-content{
    max-width: 80vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 60px;
    gap: 20px;
    padding-bottom: 60px;
}
.story-right > div{
    border-radius: 16px;
    background-color: white;
    position: relative;
    box-shadow: 4px 4px #F0AA00;
}
.story-right >div > img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
} 
.story-right > div > button {
    padding: 15px 12px;
    border-radius: 20px;
    border: none;
    background-color: #3CD8E8;
    font-weight: regular;
    color: white;
    position: absolute;
    bottom: 75px;
    left: 15px ;
}

.story-right > div > p{
    font-weight: 400;
    padding-left: 15px;
    padding-top: 20px;
}

@media screen and (max-width: 576px) {
    .story-left{
        display: none;
    }

    .story-right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .story-btn > button {
        padding: 15px 40px;
        border-radius: 16px;
        border: none;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 1.25rem;
        margin: 0 auto;
        width: fit-content;
        text-align: center;

    }
    
}
footer{
    background-color: #01ACFD;
}
.footer-sec{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 80vw;
    margin: 0 10vw;
    padding: 140px 20px;
    
}
.kids{
    display: flex;
    
}
.kids > p{
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}
.logo-body{
    font-size: 1.25rem;
    color: white;
    margin-top: 20px;
}
.about-scl{
    margin-left: 70px;
}

.about-scl >div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap :10px

    
}
.about-scl >p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.about-scl >div >a{
    text-decoration: none;
    color: white;
}

.touch > p{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.touch > div{
    margin-top: 30px;
}
@media screen and (max-width: 576px) {
   .footer-sec{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
   }
   .about-scl{
    margin-left: 0;
   }
}